<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="angular-material-data-table/dist/md-data-table.min.css"/>
		<link rel="stylesheet" href="angular-material/angular-material.min.css"/>

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

		<script src="angular/angular.min.js"></script>
		<script src="angular-animate/angular-animate.js"></script>
		<script src="angular-aria/angular-aria.min.js"></script>
		<script src="angular-material/angular-material.min.js"></script>
		<script src="angular-material-data-table/dist/md-data-table.min.js"></script>


		<script>
	      var app = angular.module('myapp', ['ngMaterial','md.data.table'])
	        .controller("autocompleteController", function($http,$scope,$q){
	          $scope.selected = [];
	          $scope.bankscount = 0;

	          $scope.showResults = false;
						  
			  
			  $scope.query = {
			    order: 'bank_name',
			    limit: 10,
			    page: 1
			  };

			  $scope.citybankselected = "";

			  $scope.banksgot = [];
	          this.querySearch = function(query){
	            return $http.get("http://dayuseroom.com/api/getRoundGlass.php", {params: {term: query}})
	            .then(function(response){
	            	// console.log(response);
	              return response.data;
	            })
	          };

	          this.itemSelected = function(value) {
	          
  				if(value===undefined) {
  					return true;
  				}
  				var deferred = $q.defer();
  				$scope.promise = deferred.promise;
	          	return $http.get("http://dayuseroom.com/api/getRoundGlassDetails.php", {params: {name: value.name, type:value.type, order:$scope.query.order,limit:$scope.query.limit,page:$scope.query.page}})
	            .then(function(response){
	            	console.log(response);
	              // return response.data;
	              deferred.resolve();
	              $scope.showResults = true;
	              $scope.citybankselected = value;
	              $scope.banksgot = response.data.data;
	              $scope.bankscount = response.data.count;
	            })
	          };
	          var self = this;
	          this.getPagintatedData = function() {
	          	console.log("m called with page number",$scope.query.page);

	          	self.itemSelected($scope.citybankselected);
	          };
	        });
	      
	    </script>
	    <style>
	    	.avatar{
			  width: 40px;
			}
	    </style>
	</head>
	<body  ng-controller="autocompleteController as ctrl" ng-app="myapp" ng-cloak>
		<md-toolbar>
			<h3 style="margin-left: 2%">Indian Banks Search</h3>
		</md-toolbar>
		<md-content flex layout-padding>
			<h4 class="md-headline" style="text-align: center">Search for any Indian bank or city here</h4>
			<div layout="row" layout-xs="column"  layout-wrap>
				<div flex="33"></div>
  				<div flex="33">
	  				<md-autocomplete 
			            md-selected-item="ctrl.selectedItem"
			            md-search-text="ctrl.searchText"
			            md-items="item in ctrl.querySearch(ctrl.searchText)"
			            md-item-text="item.name"
			            md-delay="300"
			            md-selected-item-change = "ctrl.itemSelected(item)"
			            md-floating-label="Search Bank/City">
			          <div layout="row" class="item" layout-align="start center">
			           
			            <span md-highlight-text="ctrl.searchText">{{item.name}}</span>  
			          </div>

			          <md-not-found> No matches found. </md-not-found>
				          
				          
		        	</md-autocomplete>
	        	</div>
  				<div flex="33"></div>

				
	        </div>

	        <md-toolbar class="md-table-toolbar md-default" ng-show="showResults">
	          <div class="md-toolbar-tools">
	            <span>Banks</span>
	          </div>
	        </md-toolbar>

	        <!-- exact table from live demo -->
	        <md-table-container ng-show="showResults">
	          <table md-table ng-model="selected" md-progress="promise">
	            <thead md-head md-order="query.order" md-on-reorder="ctrl.getPagintatedData">
	              <tr md-row>
	                <th md-column md-numeric>Id</th>
	                <th md-column md-order-by="bank_name"><span>Name</span></th>
	                <th md-column md-order-by="bank_branch"><span>Branch</span></th>
	                <th md-column>Address</th>
	                <th md-column>City</th>
	                <th md-column>District</th>
	                <th md-column>State</th>
	                <th md-column>IFSC</th>
	              </tr>
	            </thead> 
	            <tbody md-body>
	              <tr md-row  ng-repeat="dessert in banksgot">
	                <td md-cell>{{dessert.bank_id}}</td>
	                <td md-cell><a href="http://dayuseroom.com/roundglasstest/{{dessert.bank_name}}" target="_blank">{{dessert.bank_name}}</a></td>
	                <td md-cell><a href="http://dayuseroom.com/roundglasstest/{{dessert.bank_branch}}" target="_blank">{{dessert.bank_branch}}</a></td>
	                <td md-cell>{{dessert.bank_address}}</td>
	                <td md-cell><a href="http://dayuseroom.com/roundglasstest/{{dessert.bank_city}}" target="_blank">{{dessert.bank_city}}</a></td>
	                <td md-cell>{{dessert.bank_district}}</td>
	                <td md-cell>{{dessert.bank_name}}</td>
	                <td md-cell>{{dessert.bank_ifsc}}</td>
	              </tr>
	            </tbody>
	          </table>
	        </md-table-container>

	        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{bankscount}}" md-on-paginate="ctrl.getPagintatedData" md-page-select ng-show="showResults"></md-table-pagination>
		</md-content>
		
	
	</body>


</html>